:root {
    --primary-color: #D9EDBF;
    --secondary-color: #2C7865;
    --complementary-color: #90D26D;
    --extra-color: #FF9800;
    --weight-light: 300;
    --weight-medium: 500;
    --weight-bold: 700;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

/* buttons */

.secondary-button {
    background-color: var(--extra-color);
    border: 0;
    border-radius: 8px;
    width: 100%;
    padding: 6px 0;
    font-weight: var(--weight-bold);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.secondary-button:hover {
    background-color: #ef940d;
}

/* product-card */

.product-card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    max-width: 250px;
    min-width: 170px;
    height: 300px;
    overflow: hidden;
    border-radius: 6px;
}

.product-image-container {
    width: 100%;
    height: 65%;
    background-color: var(--secondary-color);
}

.product-image-container img {
    width: inherit;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 35%;
    background-color: var(--primary-color);
    padding: 6px 4px;
}

.product-category {
    font-size: 12px;
    font-weight: var(--weight-medium);
    color: var(--secondary-color);
}

.product-title {
    width: 100%;
    font-size: 16px;
    font-weight: var(--weight-bold);
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-price {
    font-size: 16px;
    font-weight: var(--weight-medium);
}

/* Header*/
.container-header {
    display: flex;
    position: fixed;
    width: 100vw;
    padding: 1em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #90D26D;
    z-index: 1;
}

.logo {
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
}

.links-redes ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    list-style: none;
}

.links-redes ul li a {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}

.links-redes ul li a img {
    width: 50px;
    border-radius: 25px;
}

/* hero section*/
.hero {
    display: flex;
    background-image: url(assets/hero-banner.gif);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.hero-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00523E80;
    background-size: cover;
    width: 100vw;
    text-align: center;
    gap: 30px;
}

.hero-titulo {
    color: var(--primary-color);
    font-size: 60px;
    font-weight: var(--weight-bold);
    margin: 0;
    padding: 0;
}

.hero-subtitulo {
    color: #ffffff;
    font-size: 24px;
    font-weight: var(--weight-medium);
    margin: 0;
    padding: 0;
}

.hero-button {
    display: flex;
    background-color: var(--complementary-color);
    width: 266px;
    height: 66px;
    border-radius: 35px;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

/* news-discounts section */
.news-discounts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 700px;
    column-gap: 50px;
    row-gap: 40px;
    padding: 40px 20px;
    background-color: var(--secondary-color);
}

.sales,
.new-this-week {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 600px;
}

.news-discounts h3 {
    align-self: center;
    width: 100%;
    font-size: 38px;
    font-weight: var(--weight-bold);
    color: var(--primary-color);
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: start;
}

.discount-container {
    display: flex;
    position: relative;
    align-self: center;
    overflow-x: unset;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    width: 100%;
    max-width: 600px;
    gap: 40px;
    padding: 0 20px;
}

.discount-container::-webkit-scrollbar {
    height: 20px;
    background-color: var(--secondary-color);
}

.discount-container::-webkit-scrollbar-thumb {
    background-color: #90d26daf;
    border: 6px solid var(--secondary-color);
    border-radius: 10px;
}

/* SECTION CATEGORIAS */

.container-categorias {
    display: flex;
    background-color: #D9EDBF;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    gap: 4em;
}

.container-categorias h2 {
    color: #2C7865;
    font-size: 42px;
    font-weight: 700;
}

.container-catalogo {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 2em 25vw;
    justify-content: center;
    width: 100vw;
    height: auto;
    z-index: 0;
}

.container-catalogo h3 {
    color: #D9EDBF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.container-catalogo .titulo {
    background-color: #2C7865;
    width: max-content;
    height: 46px;
    border-radius: 15px 15px 0 0;
    padding: 0 2em;
    margin-left: 3em;
}

.container-catalogo .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    background-color: #90D26D;
    width: 50vw;
    height: auto;
    border: 5px solid #2C7865;
    border-radius: 15px;
    padding: 1em;
}

/*Tarjeta de Productos*/
.tarjeta {
    background-color: #fff;
    width: auto;
    padding: 20px;
    border-radius: 10px;
}

.tarjeta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.info-producto {
    text-align: center;
}

.info-producto h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.info-producto h5 {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.info-producto .precio {
    font-size: 20px;
    font-weight: bold;
    color: #90D26D;
    margin-bottom: 20px;
}

.info-producto .boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #90D26D;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.info-producto .boton:hover {
    background-color: #2C7865;
}

/* Play*/

.container-catalogo .play {
    background-color: #2C7865;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    bottom: 3%;
    right: 24%;
}

.play img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}


.catalogo-ver .boton-enlace {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    padding: 1em;
    background-color: #90D26D;
    /* Color de fondo verde */
    color: #ffffff;
    /* Color de texto blanco */
    text-decoration: none;
    /* Quitar el subrayado */
    border: none;
    /* Quitar el borde */
    border-radius: 15px;
    /* Redondear las esquinas */
}

.catalogo-ver .boton-enlace:hover {
    background-color: #2C7865;
}

/* about-us section */

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 60px 20px;
}

.about-us-title,
.about-us-subtitle {
    font-size: 42px;
    font-weight: var(--weight-bold);
    margin-bottom: 20px;
    text-align: center;
}

.about-us-information {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 700px;
    font-size: 24px;
    font-weight: var(--weight-medium);
    color: white;
    margin-bottom: 60px;
}

.about-us-information p {
    text-align: center;
}

.strengths-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.divisor {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.strength {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    gap: 16px;
}

.strength figure {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: var(--complementary-color);
    overflow: hidden;
}

.strength img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.strength-title {
    display: block;
    width: 50%;
    max-width: 200px;
    font-size: 28px;
    font-weight: var(--weight-bold);
    color: white;
}

/* footer section */
.footer-segment {
    padding: 5px;
    background-color: var(--primary-color);
    ;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    height: 100%;
    width: auto;
}

.data {
    text-decoration: none;
    color: black;
}

.data:hover {
    color: var(--secondary-color);
}

.styles-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-foot-and-contact {
    display: flex;
    justify-content: space-between;
}

.styles-contact {
    display: flex;
    margin-top: auto;
    margin-right: 5px;
    justify-items: flex-end;
    justify-content: center;
    align-items: baseline;
}

.styles-button-icon {
    margin: 4px;
    border-radius: 180px;
    justify-content: center;
    background-color: var(--complementary-color);
    padding: 6px;
    display: flex;
}

.styles-button-icon:hover {
    background-color: var(--primary-color);
    ;
    scale: 1.5;
}

.icon-width {
    max-width: 25px;
    width: 100%;
}

/* media queries */

@media screen and (max-width: 900px) {
    .news-discounts h3 {
        font-size: 30px;
        text-align: center;
        padding: 0;
    }

    .discount-container {
        overflow-x: scroll;
    }

    .about-us-title,
    .about-us-subtitle {
        font-size: 32px;
    }

    .about-us-information {
        font-size: 20px;
    }

    .strength figure {
        width: 130px;
        height: 130px;
    }

    .strength-title {
        font-size: 22px;
    }

    /*Footer*/
    .footer-segment {
        align-items: center;
    }

    .styles-footer {
        align-items: center;
    }

    .section-foot-and-contact {
        flex-direction: column;
        align-items: center;
    }
}