
:root {
    --primary-color: #d9edbf;
    --secondary-color: #2c7865;
    --complementary-color: #90d26d;
    --extra-color: #ff9800;
    --weight-light: 300;
    --weight-medium: 500;
    --weight-bold: 700;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* <-------- buttons styles --------> */
.primary-button {
    display: inline-block;
    border: 0;
    border-radius: 5px;
    padding: 10px 16px;
    background-color: var(--complementary-color);
    color: #ffffff;
    font-weight: var(--weight-medium);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-button:hover {
    background-color: var(--secondary-color);
}

.secondary-button {
    display: inline-block;
    border: 0;
    border-radius: 10px;
    padding: 10px 16px;
    background-color: var(--extra-color);
    color: #000000;
    font-weight: var(--weight-medium);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.secondary-button:hover {
    background-color: #ffa51d;
    color: #000000;
    outline: 3px solid #000000;
}

/* <-------- product-card styles --------> */
.product-card {
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    max-width: 270px;
    min-width: 240px;
    height: 380px;
    overflow: hidden;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 40px #ffffff5c;
    transition: transform 0.4s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image-container {
    width: 100%;
    height: 55%;
}

.product-image-container img {
    width: inherit;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 45%;
    background-color: #ffffff;
}

.product-category {
    font-size: 18px;
    font-weight: var(--weight-bold);
    color: #000000;
}

.product-title {
    width: 100%;
    font-size: 18px;
    font-weight: var(--weight-bold);
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #6a6a6a;
}

.product-price {
    font-size: 20px;
    font-weight: var(--weight-bold);
    color: var(--secondary-color);
}

/* <-------- header section --------> */
header {
    width: 100%;
    height: auto;
    background-color: var(--complementary-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    color: #130548;
    font-size: 36px;
    font-weight: var(--weight-bold);
}

.nav-bar ul {
    display: flex;
    gap: 30px;
}

.nav-bar ul li a {
    color: #130548;
    font-size: 24px;
    font-weight: var(--weight-medium);
}

.nav-bar ul li a:hover {
    transition: color 0.3s ease;
    color: #4f30c0;
}

.links-redes {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.links-redes li a {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
}

.links-redes li a:hover {
    transition: all 0.5s ease-in-out;
    background-color: #130548;
}

.links-redes li a img {
    width: 80%;
    height: 80%;
    align-self: center;
    margin: 0 auto;
}

/* <-------- menu styles --------> */
#menu {
    display: none;
    width: 70px;
    height: 70px;
    background: url("./assets/icons/menu.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#menu.active {
    background: url("./assets/icons/close.svg");
}

/* <-------- dropdown-menu styles --------> */
.dropdown-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 60px;
    width: 100%;
    height: 0;
    background-color: var(--primary-color);
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.active {
    height: calc(100vh - 80px);
}

.dropdown-menu .nav-bar ul {
    flex-direction: column;
    align-items: center;
}

.dropdown-menu .nav-bar ul li a {
    font-size: 28px;
}

.dropdown-menu .links-redes li a {
    background-color: #130548;
}

.dropdown-menu .links-redes li a:hover {
    transition: background-color 0.4s ease;
    background-color: #4f30c0;
}

.dropdown-menu .links-redes li a img {
    width: 60%;
    height: 60%;
}

/* <-------- hero section --------> */
.hero {
    display: flex;
    background-image: url(assets/hero-banner.gif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    max-height: 800px;
    margin-top: 80px;
}

.hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #00523e80;
    text-align: center;
    padding: 0 40px;
}

.hero-title {
    color: var(--primary-color);
    font-size: 55px;
    line-height: 0.95;
    font-weight: var(--weight-bold);
}

.hero-description {
    color: #ffffff;
    font-size: 24px;
    font-weight: var(--weight-medium);
}

.hero .secondary-button {
    font-size: 24px;
    padding: 14px 32px;
}

/* <-------- news-discounts section --------> */
.news-discounts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 700px;
    column-gap: 50px;
    row-gap: 40px;
    padding: 40px 20px;
    background-color: var(--secondary-color);
}

.sales,
.new-this-week {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
}

.news-discounts h3 {
    align-self: center;
    width: 100%;
    font-size: 38px;
    font-weight: var(--weight-bold);
    color: var(--primary-color);
    margin-bottom: 30px;
    padding-left: 20px;
    text-align: start;
}

.discount-container {
    display: flex;
    position: relative;
    align-self: center;
    overflow-x: unset;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    width: 100%;
    max-width: 900px;
    gap: 40px;
    padding: 0 20px;
}

.discount-container::-webkit-scrollbar {
    height: 20px;
    background-color: var(--secondary-color);
}

.discount-container::-webkit-scrollbar-thumb {
    background-color: #90d26daf;
    border: 6px solid var(--secondary-color);
    border-radius: 10px;
}

/* <-------- categories-section --------> */
.categories-container {
    display: flex;
    background-color: var(--primary-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 20px;
    gap: 60px;
}

.categories-container h2 {
    color: var(--secondary-color);
    font-size: 42px;
    font-weight: var(--weight-bold);
    text-align: center;
}

.catalogue {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    z-index: 0;
    background-color: var(--complementary-color);
    border: 4px solid var(--secondary-color);
    border-radius: 10px;
    padding: 30px 10px;
    margin-top: 55px;
}

.catalogue .header-catalogue {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -55px;
    left: 30px;
    z-index: 1;
    width: 360px;
    height: 55px;
    background-color: var(--secondary-color);
    border-radius: 15px 15px 0 0;
}

.catalogue .header-catalogue h3 {
    color: var(--primary-color);
    text-align: center;
    font-size: 32px;
    font-weight: var(--weight-bold);
}

.catalogue .products-catalogue {
    display: flex;
    position: relative;
    overflow-x: unset;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    width: 100%;
    max-width: 920px;
    gap: 80px;
    margin: 0 auto;
    padding: 0 20px;
}

.catalogue .products-catalogue::-webkit-scrollbar {
    height: 20px;
    background-color: var(--complementary-color);
}

.catalogue .products-catalogue::-webkit-scrollbar-thumb {
    background-color: #2c7865af;
    border: 6px solid var(--complementary-color);
    border-radius: 10px;
}

.categories-container .secondary-button {
    font-size: 24px;
    padding: 14px 32px;
}

/* <-------- about-us section --------> */
.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 60px 20px;
}

.about-us-title,
.about-us-subtitle {
    font-size: 42px;
    font-weight: var(--weight-bold);
    margin-bottom: 20px;
    text-align: center;
}

.about-us-information {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 700px;
    font-size: 24px;
    font-weight: var(--weight-medium);
    color: white;
    margin-bottom: 60px;
}

.about-us-information p {
    text-align: center;
}

.strengths-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.divisor {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.strength {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    gap: 16px;
}

.strength figure {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: var(--complementary-color);
    overflow: hidden;
}

.strength img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.strength-title {
    display: block;
    width: 50%;
    max-width: 200px;
    font-size: 28px;
    font-weight: var(--weight-bold);
    color: white;
}

/* <-------- footer section --------> */
.footer-segment {
    padding: 5px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    max-height: 300px;
    height: 100%;
    width: auto;
}

.data {
    text-decoration: none;
    color: black;
}

.data:hover {
    color: var(--secondary-color);
}

.styles-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-foot-and-contact {
    display: flex;
    justify-content: space-between;
}

.styles-contact {
    display: flex;
    margin-top: auto;
    margin-right: 5px;
    justify-items: flex-end;
    justify-content: center;
    align-items: baseline;
}

.styles-button-icon {
    margin: 4px;
    border-radius: 180px;
    justify-content: center;
    background-color: var(--complementary-color);
    padding: 6px;
    display: flex;
}

.styles-button-icon:hover {
    background-color: var(--primary-color);
    scale: 1.5;
}

.icon-width {
    max-width: 25px;
    width: 100%;
}

/* <-------- media queries --------> */
@media screen and (max-width: 1020px) {
    /* categories */
    .catalogue .products-catalogue {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 900px) {
    /* product-card */
    .product-card {
        box-shadow: none;
    }

    .product-card:hover {
        transform: none;
        transition: none;
    }

    /* header */

    .container-header {
        padding: 0 10px;
    }

    .container-header .logo {
        font-size: 26px;
    }

    .container-header .links-redes,
    .container-header .nav-bar {
        display: none;
    }

    #menu {
        display: block;
    }

    .dropdown-menu {
        display: flex;
    }

    /* hero */

    .hero {
        height: calc(100vh - 80px);
        max-height: none;
    }

    /* news-discounts */
    .news-discounts h3 {
        font-size: 30px;
        text-align: center;
        padding: 0;
    }

    .discount-container {
        overflow-x: scroll;
    }

    /* categories */

    .categories-container h2 {
        font-size: 32px;
    }

    .catalogue .header-catalogue {
        left: calc(50% - 180px);
    }

    /* about-us section */
    .about-us-title,
    .about-us-subtitle {
        font-size: 32px;
    }

    .about-us-information {
        font-size: 20px;
    }

    .strength figure {
        width: 130px;
        height: 130px;
    }

    .strength-title {
        font-size: 22px;
    }

    /*Footer*/
    .footer-segment {
        align-items: center;
    }

    .styles-footer {
        align-items: center;
    }

    .section-foot-and-contact {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    /* hero */
    .hero {
        background-position: left;
    }

    .hero-content {
        padding: 0 15px;
    }

    .hero-title {
        font-size: 40px;
    }

    .hero-description {
        font-size: 20px;
    }

    .hero .secondary-button {
        font-size: 20px;
        padding: 10px 20px;
    }

    /* categories */
    .catalogue .header-catalogue {
        width: 220px;
        left: calc(50% - 110px);
    }

    .catalogue .header-catalogue h3 {
        font-size: 22px;
    }

    .categories-container .secondary-button {
        font-size: 20px;
        padding: 10px 20px;
    }
}
